In [32]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import matplotlib.pyplot
import matplotlib

In [33]:
#Read the data set and storein a variable
df = pd.read_csv(r"C:\Users\Accenture\Documents\Projects\HIT\HIT-400\datasets\dataset-1.csv")

In [34]:
#convert convertable objects
df = df.infer_objects()

In [35]:
# Show how data is spread out 
df.describe

<bound method NDFrame.describe of      age sex cp trestbps chol fbs restecg thalach exang  oldpeak slope ca  \
0     52   1  0      125  212   0       1     168     0      1.0     2  2
1     53   1  0      140  203   1       0     155     1      3.1     0  0
2     70   1  0      145  174   0       1     125     1      2.6     0  0
3     61   1  0      148  203   0       1     161     0      0.0     2  1
4     62   0  0      138  294   1       1     106     0      1.9     1  3
...   ..  .. ..      ...  ...  ..     ...     ...   ...      ...   ... ..
1020  59   1  1      140  221   0       1     164     1      0.0     2  0
1021  60   1  0      125  258   0       0     141     1      2.8     1  1
1022  47   1  0      110  275   0       0     118     1      1.0     1  1
1023  50   0  0      110  254   0       0     159     0      0.0     2  0
1024  54   1  0      120  188   0       1     113     0      1.4     1  1

     thal target
0       3      0
1       3      0
2       3      0
3       3      0
4       2      0
...   ...    ...
1020    2      1
1021    3      0
1022    2      0
1023    2      1
1024    3      0

[1025 rows x 14 columns]>

In [36]:
#show columns of the dataset
df.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [38]:
#First 10 rows of the dataset
df.head(100)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,45,0,0,138,236,0,0,152,1,0.2,1,0,2,1
96,57,0,0,128,303,0,0,159,0,0.0,2,1,2,1
97,53,1,0,123,282,0,1,95,1,2.0,1,2,3,๒
98,65,1,0,110,248,0,0,158,0,0.6,2,2,1,0
99,76,0,2,140,197,0,2,116,0,1.1,1,0,2,1

In [21]:
#select and map features of data set
# X ->  denotes training
# y -> denotes output
X = df.iloc[:, :-1].values
y= df.iloc[:, 13].values

In [22]:
# Fit the X and Y 
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X=sc_X.fit_transform(X)

In [23]:
# Preprocessing
from sklearn.model_selection import train_test_split
X_train,X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

In [30]:
#Actual training and score accuracy test
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=1, random_state=0)
model.fit(X_train, y_train)
score = model.score(X_test, y_test)
print(score*100)

96.09756097560975

In [31]:
# confusion matrix
y_predict = model.predict(X_test)
print(y_predict)

['0' '0' '0' '0' '0' '0' '0' '0' '1' '1' '0' '1' '0' '1' '0' '0' '0' '1'
 '1' '1' '1' '1' '0' '0' '1' '1' '0' '1' '1' '1' '1' '0' '0' '1' '0' '1'
 '0' '0' '1' '0' '1' '1' '0' '0' '0' '1' '0' '0' '1' '1' '1' '1' '0' '0'
 '1' '1' '1' '1' '1' '1' '1' '0' '0' '0' '1' '1' '1' '0' '1' '0' '1' '1'
 '0' '1' '0' '1' '1' '1' '1' '1' '0' '1' '0' '1' '0' '0' '0' '0' '0' '1'
 '0' '1' '0' '1' '0' '0' '1' '0' '0' '0' '0' '1' '1' '0' '0' '1' '1' '1'
 '๖๔' '0' '0' '0' '0' '1' '0' '1' '1' '0' '1' '0' '1' '1' '1' '1' '0' '1'
 '0' '0' '1' '0' '0' '1' '1' '0' '1' '1' '0' '1' '0' '1' '0' '1' '1' '1'
 '0' '0' '1' '0' '0' '0' '1' '0' '0' '1' '1' '0' '1' '1' '1' '0' '0' '0'
 '1' '1' '0' '0' '1' '1' '0' '1' '0' '1' '1' '0' '0' '1' '0' '0' '0' '1'
 '0' '1' '1' '1' '0' '1' '0' '0' '1' '0' '1' '1' '0' '0' '0' '1' '0' '1'
 '1' '1' '0' '1' '1' '0' '0']

In [14]:
# Run a test
test_prediction = model.predict([['58','0', '0', '100', '248', '0', '0', '122', '0', '1.0', '1', '0', '2']])
print(test_prediction)

['0']

In [64]:
from joblib import dump

In [65]:
# save the trained model
dump(model, "randomForest.joblib")

['randomForest.joblib']